
{{#isLoggedIn}}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="javascript:Site.mainPage.navigate('/');">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:Site.mainPage.navigate('/login');">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:Site.mainPage.navigate('/register');">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:Site.mainPage.navigate('/profile');">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:Site.mainPage.navigate('/logout');">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
{{/isLoggedIn}}


<div class="container-center">
    <img class="d-none d-md-block" id="big-logo" src="/app/img/RepnoxVector.png" />
    <img class="d-md-none" id="small-logo" src="/app/img/RepnoxVector.png" />
</div>